<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Scalr API Explorer</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="ScalrAPIExplorer">
  <div class="container">
    <div class="page-header">
      <h1>Scalr API Explorer</h1>
      <p>Use this app to explore the Scalr API</p>
      <p>This app is exclusively client-side. All requests are directly sent from your workstation to the Scalr API.</p>
    </div>

    <div class="container" ng-controller="APIRequestForm">

        <div class="row">
          <h2>API Structure</h2>
          <p>Status: <span class="label label-{{ apiStructureStatus.label }}">{{ apiStructureStatus.status }}</span></p>
          <button class="btn btn-default" ng-click="loadApiStructure()">Reload API Structure</button>
        </div>


        <div class="row">

          <h2>API Settings</h2>

          <form name="apiSettingsForm" class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label">API URL</label>
              <div class="col-sm-10">
                <input ng-change="markApiSettingsModified()" class="form-control" type="text" ng-model="apiSettings.apiUrl" ng-required="true" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">API Key ID</label>
              <div class="col-sm-10">
                <input ng-change="markApiSettingsModified()" class="form-control" type="text" ng-model="apiSettings.keyId" ng-required="true" />
              </div>
            </div>

            <div  class="form-group">
              <label class="col-sm-2 control-label">API Secret Key</label>
              <div class="col-sm-10">
                <input ng-change="markApiSettingsModified()" class="form-control" type="password" ng-model="apiSettings.secretKey" ng-required="true" />
              </div>
            </div>

            <div  class="form-group">
              <label class="col-sm-2 control-label">API Environment ID</label>
              <div class="col-sm-10">
                <input ng-change="markApiSettingsModified()" class="form-control" type="text" ng-model="apiSettings.envId" ng-required="false" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" ng-disabled="!apiSettingsModified" ng-click="saveApiSettings()">Locally Save API Settings</button>
                <button class="btn btn-danger" ng-disabled="!apiSettingsSaved" ng-click="clearApiSettings()">Clear Saved API Settings</button>
              </div>
            </div>
          </form>

        </div>

        <div class="row">
          <h2>API Call</h2>
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">API Call</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="apiCall" ng-change="resetParams()" ng-required="true" ng-options="value.name for value in apiCalls"></select>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <h2>API Parameters</h2>

          <form name="apiCallForm" class="form-horizontal" novalidate>

            <div class="form-group" ng-repeat="param in apiCall.params">
                <label class="col-sm-2 control-label">{{param.name}}</label>

                <div class="col-sm-10" ng-switch="param.array">
                    <input ng-switch-when="false" class="form-control" type="text" ng-model="apiParams[param.name]" ng-required="param.required" />

                    <div ng-switch-when="true">
                      <div ng-repeat="i in range(getArrayParamLength(param.name)) track by $index">

                        <div class="row form-inline">
                          <label class="col-xs-2" class="control-label">Key</label>
                          <input class="col-xs-4 form-control" type="text" ng-model="apiParams[param.name][$index].key"/>

                          <label class="col-xs-2" class="control-label">Value</label>
                          <input class="col-xs-4 form-control" type="text" ng-model="apiParams[param.name][$index].value"/>
                        </div>

                      </div>

                      <div>
                        <button class="btn btn-default" ng-click="addArrayParam(param.name)">Add parameter</button>
                      </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success" ng-disabled="!apiCallForm.$valid || !apiSettingsForm.$valid" ng-click="makeApiCall()">Call {{ apiCall.name }}</button>
                <button class="btn btn-danger" ng-click="resetParams()">Reset form</button>
              </div>
            </div>
          </form> 
        </div>

        <div class="row">
          <h2>API Response</h2>
          <p ng-hide="lastResponse.message">Status: No API response yet</p>
          <p ng-show="lastResponse.message">Status: {{ lastResponse.message }}</p>
          <p ng-show="lastResponse.status">HTTP Status: <code>{{ lastResponse.status }}</code></p>

          <pre ng-show="lastResponse.body">{{ lastResponse.body }}</pre>
        </div>

    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="/static/angular-local-storage.min.js"></script>
  <script src="/static/sjcl.js"></script>
  <script src="/static/vkbeautify.js"></script>

  <script>

  var app = angular.module('ScalrAPIExplorer', ["LocalStorageModule"]);

  app.controller('APIRequestForm', ["$scope", "$http", "$filter", "localStorageService", function ($scope, $http, $filter, localStorageService) {
      // Utilities
      $scope.range = function(n) {
        return new Array(n);
      };

      // API Settings handling

      $scope.apiSettingsSaved = null;
      $scope.apiSettingsModified = null;

      $scope.loadApiSettings = function () {
        var storedCredentials = localStorageService.get('apiSettings');
        if (storedCredentials) {
          $scope.apiSettings = angular.fromJson(storedCredentials);
          $scope.apiSettingsSaved = true;
        } else {
          $scope.apiSettings = {"apiUrl": "https://api.scalr.net/"}; // Default
          $scope.apiSettingsSaved = false;
        }
      }

      $scope.saveApiSettings = function () {
        localStorageService.set('apiSettings', angular.toJson($scope.apiSettings));

        $scope.apiSettingsSaved = true;
        $scope.apiSettingsModified = false;
      }

      $scope.clearApiSettings = function () {
        localStorageService.set('apiSettings', null);

        $scope.apiSettingsSaved = false;
      }

      $scope.markApiSettingsModified = function () {
        $scope.apiSettingsModified = true;
      }

      // API Call handling

      $scope.apiCalls = []
      $scope.apiCall = $scope.apiCalls[0];

      $scope.apiParams = {};

      $scope.lastResponse = {};


      $scope.resetParams = function () {
        $scope.apiParams = {};
        console.log($scope.apiParams);
      }

      $scope.getArrayParamLength = function (paramName) {
        if (angular.isUndefined($scope.apiParams[paramName]))
          return 0;
        return $scope.apiParams[paramName].length;
      }

      $scope.addArrayParam = function (paramName) {
        if (angular.isUndefined($scope.apiParams[paramName]))
          $scope.apiParams[paramName] = new Array();

        $scope.apiParams[paramName].push({});
      }

      $scope.makeApiCall = function () {
        // TODO -> Check required params!
;

        var hmac = new sjcl.misc.hmac($scope.apiSettings.secretKey);

        var localTime = new Date(); 
        var utcTime = new Date(localTime.getUTCFullYear(), localTime.getUTCMonth(), localTime.getUTCDate(),
                                localTime.getUTCHours(), localTime.getUTCMinutes(), localTime.getUTCSeconds());

        var timestamp = $filter("date")(utcTime, "yyyy-MM-dd HH:mm:ss");
        var token = [$scope.apiCall.name, $scope.apiSettings.keyId, timestamp].join(":");

        var signature = sjcl.codec.base64.fromBits(hmac.encrypt(token));

        var params = {
          "Version": "2.3.0",
          "AuthVersion": "3",
          "Action": $scope.apiCall.name,
          "Timestamp": timestamp,
          "EnvID": $scope.apiSettings.envId,
          "KeyID": $scope.apiSettings.keyId,
          "Signature": signature
        }

        for (var key in $scope.apiParams) {
          // TODO --> Arrays
          var value = $scope.apiParams[key]
          if (value instanceof Array) {
            for (var i = 0; i < value.length; i++) {
              var subParam = value[i];
              params[key + "[" + encodeURIComponent(subParam.key) + "]"] = subParam.value;
            }
          } else {
            params[key] = value;
          }
        }

        $scope.lastResponse = {"message": "API Call In Progress"};

        $http({
          "method": "GET",
          "url": $scope.apiSettings.apiUrl,
          "params": params
        }).
          success(function(data, status, headers, config) {
            $scope.lastResponse.message = "API Call Succeeded";
            $scope.lastResponse.status = status;
            $scope.lastResponse.body = vkbeautify.xml(data);
          }).
          error(function(data, status, headers, config) {
            $scope.lastResponse.message = "An error occured";
            $scope.lastResponse.status = status;
            $scope.lastResponse.body = data;
          });
      }

      $scope.apiSturctureUrl = "/static/api-structure.json";
      $scope.apiStructureStatus = {
        "status": "Starting",
        "label": "default"
      };

      $scope.loadApiStructure = function () {
        $scope.apiStructureStatus.status = "Loading";
        $scope.apiStructureStatus.label = "warning";

        $http.get($scope.apiSturctureUrl).
          success(function(data, status, headers, config) {
            $scope.apiCalls = data;
            $scope.apiCall = $scope.apiCalls[0];

            $scope.apiStructureStatus.status = "Ready";
            $scope.apiStructureStatus.label = "success";
          }).
          error(function(data, status, headers, config) {
            $scope.apiStructureStatus.status = "Error";
            $scope.apiStructureStatus.label = "danger";
          });
      }

      // Initialization. Load API settings from local storage, and load API structure
      $scope.loadApiSettings();
      $scope.loadApiStructure();
  }]);
  </script>
</body>
</html>
